# Deployment
# VERCEL_TOKEN=
# FIREBASE_TOKEN=

# Assets
BLOB_READ_WRITE_TOKEN=

# AI Assistant
AI_PROVIDER=mock
AI_MODEL=
GOOGLE_GENERATIVE_AI_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
AI_BASE_URL=
